/* font-family */
 body *{
    font-family: 'Inter', sans-serif;
}
/* bg e classi generiche */
.bg-grey{
    background-color: #F3F5F9;
}
.bg-blue{
    background-color: #002CA7;
}
.bg-darker-blue{
    background-color: #031C4E;
}
.bg-hero{
    background-image: url(img/bg-banner-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-white{
    background-color: #ffffff;
}
section, footer{
    padding-top: 25px;
    padding-bottom: 25px;
}
@media all and (min-width: 992px){
    section, footer{
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .no-b-margin{
        margin-bottom: 0;
    }

    
}
.inline-block{
    display: inline-block;
}
.d-inline{
    display: inline;
}
.p-relative{
    position:relative;
}
.t-10px{
    margin-top:10px;
}
.b-20px{
    margin-bottom: 20px;
}
main a:hover{
    text-decoration: none;
}
/* cerchio */
span.circle{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #0042C0;;
}
span.selected-circle{
    background-color: #0042C0;;
}
span.circle:hover{
    background-color: #0042C0;
}
/* text colors */
.white-style{
    color: #ffffff;
}
.grey-light-style{
    color: #F3F5F9;
}
.grey-dark-style{
    color:#9FA7B9;
}
.light-blue-style{
    color: #2486FD;
}
.blue-style{
    color: #092252;
}
/* navbar */
.navbar-personalized{
    margin-bottom: 0;
}
.navbar-personalized a{
    color: #092252;
}
.navbar-toggle>.icon-bar{
    background-color: #2486FD; 
}
a.navbar-brand{
    color: #2486FD; 
    line-height: 50px;
    padding: 0 15px;
}
.navbar-brand>img{
    display: inline-block;
    width: 150px;
}
nav span.btn-like-signup{
    display: inline-block;
    border: 2px solid #2486FD;
    border-radius: 4px;
    padding: 5px 10px;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}
nav span.btn-like-signup a:hover{
    text-decoration: none;
}
nav span.btn-like-signup>a{
    color: #2486FD;
}
.glyphicon-menu-down:before{
    font-size: smaller;
}

@media all and (min-width: 768px){
    .sm-display{
        font-size: 9px;
    }
}
@media all and (min-width: 992px){
    .lg-display{
        font-size: 12px;
    }
    .lg-extra-margin{
    margin-left: 100px;
    }   
}
/* hero */
.panel-get-started{
    margin-bottom: 15px;
    margin-top:15px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 20px 10px;
}
.panel-get-started .form-group input::placeholder{
    font-weight: bold;
}
.btn-create{
    background-color: rgba(36, 134, 253, 0.7);
}
.btn-create:hover{
    background-color: #2486fd;
    color: #ffffff;
}
.btn-sign-up{
    background-color: white;
    border: 1px solid #F3F5F9;
    box-shadow: 0px 2px 2px #F3F5F9;
}
form span.g-logo{
    display: inline-block;
    width: 16px;
    position:absolute;
    left:12px;
}
form span.g-logo>img{
    width: 100%;
    vertical-align: middle;   
}
form>p{
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
}
ul.partners-list li {
    width: 40%;
}
img.partners-img{
    width: 100%;
}
@media all and (min-width: 768px) {
    ul.partners-list li {
        width: 15%;  
    }
}
.hero-title-wrap h1{
    font-size: 35px;
    margin-bottom: 20px;
}
@media all and (min-width: 992px) {
    .hero-title-wrap h1 {
        font-size: 50px;  
    }
}
.list-group-a-item{
    border-left: 1px solid #9fa7b9;
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: #ffffff;
}
.list-group-a-item{
    color: #9FA7B9;
}
.list-group-a-item:hover{
    font-weight: bold;
    text-decoration: none;
    color: #9FA7B9;
}
.img-s-box{
    width: 40px;
    margin-bottom: 10px;
}
.img-s-box>img{
    width: 100%;
}
/* layout-slider */
.slide,
.select-slides{
    width: calc(100% - 120px);
    margin-left:60px;
}
.slider .arrow{
    position: absolute;
    width: 60px;
    top: 50%;
    transform: translateY(-70%);  
    font-size: 20px;  
    text-align: center;
}
.slider .img-slide-box img.full-screen-box{
    width: 100%;
}
.slider .img-slide-box img.percentage-screen-box{
    width: calc(100% - 25%);
}
/* > padding slider-2 */
.screen-alike{
    padding: 30px 15px 20px 15px;
    margin-top:20px;
    margin-bottom: 10px;
}
@media all and (min-width: 992px) {
   .lg-slide{
        height: 400px;
        padding-left: 20px;
        padding-right:20px;
  }
  .slider .img-slide-box img.percentage-screen-box{
    width: calc(100% - 30%);
    padding-top: 40px;
}

}
.p-more:after {
    content:' \003E';
    font-size: x-small;
    margin-left: 10px;
    font-weight: bold;
}
/* tabella */
.cities-data-list li{
    border-bottom: 1px solid #ffffff;
    margin-top:10px;    
}
.list-group li:last-of-type{
    border-bottom: none;
}
.cities-data-list li a{
    color:#05c7c6;
}
.cities-data-list li a:hover{
    color:#05c7c6;
    background-color: rgba(159, 167, 185, 0.3);
    border-radius: 4px;
    padding:3px 0 3px 3px;
}
span.post-code{
    min-width: 50px;
    margin-right:10px;   
}
/* last section btn */
.btn-b{
    background-color: #ffffff;
    color:#2486fd;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    margin-top:15px;
    margin-bottom: 20px;
}
.btn-b:hover{
    color: #092252;
    background-color: #F3F5F3;
}
/* footer */
footer .social-icon-box i{
    font-size: 18px;
    margin-right: 10px;
}
footer .footer-logo{
    width: 30px;
}
footer a:hover {
    text-decoration: none;
    color: #F3F5F9;
    font-weight: bold;
}




/* shark-message */
.visible-overflow{
    overflow: visible;
}
.shark-icon-box{
    background-color: #006BFF;
    width: 45px;
    height: 45px;
    border-radius: 4px;
}
.shark-icon-box a >img{
    width: 100%;
    position: absolute;
    bottom: 5px;
}
.nth-msn{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #ffffff;
    background-color: #ff0000;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    color:#ffffff;
    position: absolute;
    top:-5px;
    right: -5px;
}
.instant-chat{
    bottom: 30px;
    right: 30px;
    position: fixed;
    z-index: 1;
}
.auto-msn{
    max-width: 250px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    margin-right: 10px;
}
.triange{
    display: inline-block;
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #ffffff;
    position: absolute;
    top: 65%;
    right:-8px;
    transform: translateY(-50%);
}
.shark-icon-box {
    vertical-align: bottom;
}

@media all and (min-width: 992px){
    footer{
    padding-bottom: 50px;
    }
}






